<head>
  <link href="http://vjs.zencdn.net/4.12.5/video-js.css" rel="stylesheet">
</head>

<body>
  <video id="my-video" class="video-js" controls preload="auto" width="640" height="264"
         data-setup='{ "controls": true, "autoplay": false, "preload": "auto" }'>
    <source src="./example.mp4" type='video/mp4'>

    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>

  <script src="http://vjs.zencdn.net/4.12.5/video.js"></script>
</body>

